alias l='ls --color=auto'
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias mkdir='mkdir -p'
alias grep='grep --color=auto'
alias v=vim
alias gv='gvim & disown'
alias todo='v ~/.todo'
alias xdg-open=sx-open
alias o=xdg-open
alias c=cat
alias xi='sudo xbps-install -S'
alias xu='sudo xbps-install -Su'
alias xq='sudo xbps-query'
alias xr='sudo xbps-remove -R'
alias ai='sudo apt install'
alias au='sudo apt update'
alias ar='sudo apt remove'
alias extar='tar -xvf'

f() {
    fff "$@"
    cd "$(cat "${XDG_CACHE_HOME:=${HOME}/.cache}/fff/.fff_d")"
}
