export PATH=$PATH:/usr/local/go/bin

export GOPATH=$HOME/go
PATH=$PATH:$GOPATH/bin

export CABAL=$HOME/.cabal
PATH=$PATH:$CABAL/bin

export editor=vim
export pager=less
export TERM=xterm-256color

PATH=$PATH:$HOME/.local/bin
PATH=$PATH:$HOME/.bin

PATH=$PATH:$HOME/.config/composer/vendor/bin

export PATH="$HOME/.cargo/bin:$PATH"

export DOTFILES=$HOME/code/dotfiles
