export TERM=xterm-256color
export OPENER=sx-open
export BROWSER=surf
export EDITOR=vim
export DOTFILES=$HOME/c/dotfiles
export TERMINAL=st

export PATH=$PATH:/usr/local/go/bin
export GOPATH=$HOME/go
PATH=$PATH:$GOPATH/bin

export CABAL=$HOME/.cabal
PATH=$PATH:$CABAL/bin

PATH=$PATH:$HOME/.local/bin
PATH=$PATH:$HOME/.bin

PATH=$PATH:$HOME/.config/composer/vendor/bin

export PATH="$HOME/.cargo/bin:$PATH"

export PATH="$HOME/.rbenv/bin:$PATH"

