[user]
	name = Breno Pinheiro
	email = davepinh@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[alias]
    a = add
    c = commit
    s = status --short
    co = checkout
    b = branch
    l = log --oneline
    d = diff
