alias l='ls --color=auto'
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias mkdir='mkdir -p'
alias grep='grep --color=auto'
alias acme='acme -a -f /mnt/font/Go\ Mono/10a/font'
alias c=clear
alias vim=vim
alias v=vim
alias gv='gvim & disown'
alias todo='v ~/.todo'
alias o=xdg-open
alias c=cat
