export PLAN9=/usr/local/plan9
PATH=$PATH:$PLAN9/bin

export GOPATH=$HOME/go
PATH=$PATH:$GOPATH/bin

export gems=$HOME/.gem/ruby/2.4.0
PATH=$PATH:$gems/bin

export CABAL=$HOME/.cabal
PATH=$PATH:$CABAL/bin

export editor=vim
export TERM=xterm-256color

