export PLAN9=/usr/local/plan9
PATH=$PATH:$PLAN9/bin

export PATH=$PATH:/usr/local/go/bin

export GOPATH=$HOME/go
PATH=$PATH:$GOPATH/bin

export gems=$HOME/.gem/ruby/2.4.0
PATH=$PATH:$gems/bin

export CABAL=$HOME/.cabal
PATH=$PATH:$CABAL/bin

export editor=vim
export TERM=xterm-256color

PATH=$PATH:$HOME/.local/bin

PATH=$PATH:$HOME/.config/composer/vendor/bin

export NVIM_PYTHON_LOG_FILE=/tmp/log
export NVIM_PYTHON_LOG_LEVEL=DEBUG

export PATH="$HOME/.cargo/bin:$PATH"

source $HOME/.nix-profile/etc/profile.d/nix.sh

PATH=$PATH:$HOME/code/flutter/bin
