layout {
    pane split_direction="horizontal" {
        pane { command "nvim"; size "90%"; }
        pane {
            npm { args "run" "dev"; }
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane_template name="npm" {
        command "npm"
        start_suspended true
    }
}
