* {
    font-family: NotoSansNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

window#waybar {
    background-color: rgba(28, 28, 30, 1.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.0;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: rgba(58, 58, 60, 1.0);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    margin-right: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right > widget > * {
    padding: 0 8px;
    color: #ffffff;
    background-color: rgba(28, 28, 30, 1.0);
}

.modules-right > widget > *:hover {
    background-color: rgba(58, 58, 60, 1.0);
}
